
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#titles
{
    background-color: #074880; 
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-icons{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}


.button-icons-in{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height:200px;
    width: 50%;
    /* border: 2px solid black; */
}

.logo{
    height: 150px;
    width: 150px;
    display: inline-block;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-in{
    height: 140px;
    width: 140px;
    /* border: 2px solid black; */
}

.logo-in:hover{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
}



 .headline{
    text-align: center;
    color: #074880;
    font-size: 40px;
 }

 footer{
    background-color: #074880; 
    color: white;
    padding: 1rem;
    width: 100%;
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
   
 }
  
h1{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }
 
.nav-links{
    color:#FFFFFF;
    size:10px;
    font-weight:200;
    text-decoration: none;
    margin-left: 10px;
}

.top-img{
           
    img{height:9rem;}
    margin-bottom: 5px;
    display: flex;
  }

  .copyr{
    display: flex;
    justify-content: center;
    background-color: aqua;
  }
